# Copyrighted files
/libraries/
/mods/
forge-1.16.4-35.1.13.jar
forge-1.16.4-35.1.18.jar
forge-1.16.4-35.1.18-installer.jar
minecraft_server.1.16.4.jar
ChristmasModpack.7z

# Uncessary logs
/crash-reports/
/logs/
/.mixin.out/


# Region data
/world/advancements/
/world/astralsorcery/
/world/data/
/world/datapacks/
/world/deaths/
/world/DIM1/data/
/world/DIM1/poi/
/world/DIM1/region/
/world/DIM-1/data/
/world/DIM-1/poi/
/world/DIM-1/region/
/world/EnderStorage/
/world/observerlib/
/world/playerdata
/world/poi/
/world/region/
/world/stats/
/world/icon.png
/world/level.dat
/world/level.dat_old
/world/session.lock